{% extends "myflipbook/base.html" %}
{% block content %}

<div class="jumbotron pt-md-5 pt-1 pb-md-4 pb-1" id="div-home">
    <div class="container">
        <div class="col-12 col-md-6 mx-auto text-center">
            <h1 class="fb-white-text">MyFlipBook</h1>
            <p class="lead fb-white-text">MyFlipBook is the easiest way to create amazing flipbooks from your videos! Just select a short video and see it be turned into frame-by-frame animation. Then print, cut, staple it all together and have fun!</p>
            <p><a href="{% url 'video' %}" class="btn btn-lg btn-primary">Select a Video</a></p>
        </div>
    </div>
</div>

{% load static %}
<div class="container pt-md-5 pt-2 pb-md-5 pb-2" id="fb-grayscale">
    <div class="row justify-content-center text-center">
        <div class="col-md-3">
            <div class="mb-md-3">
                <img src="{% static 'images/icons/glyphicons-70-gift.png' %}">
            </div>
            <h4>Creative gift</h4>
            <p>Great gift to surprise your friends</p>
        </div>
        <div class="col-md-3">
            <div class="mb-md-3">
                <img src="{% static 'images/icons/glyphicons-181-facetime-video.png' %}">
            </div>
            <h4>Keep memories</h4>
            <p>Keep your memories in a original format</p>
        </div>
        <div class="col-md-3">
            <div class="mb-md-3">
                <img src="{% static 'images/icons/glyphicons-289-scissors.png' %}">
            </div>
            <h4>DIY</h4>
            <p>Print, cut, stapple it. Have fun doing it yourself!</p>
        </div>
    </div>
</div> 
{% endblock %}
