{% extends "myflipbook/base.html" %}

{% block menu %}
{% load static %}
        <nav class="navbar fb-menu-background fixed-top">
            <div class="container">
              <h3>
                  <a href="{% url 'index' %}" class="nav-brand">
                  <img src="{% static 'images/icons/glyphicons-9-film.png' %}">
                  MyFlipBook</a>
              </h3>
              <div class="col-md-3">
                  <nav class="nav nav-pills">
                    <li class="nav-item fb-menu-btn">
                        <a class="nav-link fb-menu" id="btn-1" href="#home">Home</a>
                    </li>
                    <li class="nav-item fb-menu-btn">
                        <a class="nav-link fb-menu" id="btn-3" href="#help">Help</a>
                    </li>
                    <li class="nav-item fb-menu-btn">
                        <a class="nav-link fb-menu" id="btn-4" href="#contact">Contact</a>
                    </li>
                  </nav>
              </div>
            </div>
        </nav>
        
{% endblock %}
      


