{% extends "myflipbook/base.html" %}
{% block content %}

{% load static %}
<div class="col-12 col-md-6 mx-auto text-center mt-md-5 mt-1 pt-md-5 pt-1" id="div-upload">
        <h1>MyFlipBook</h1>
        <div class="form-group">
            <label for="file-video">Choose a video to generate your flipbook </label>
            <input type="file" id="file-video" class="btn btn-lm" accept="video/*">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="button" id="btn-generate-frames">Generate Flipbook</button>
        </div>
</div>

<div class="col-12 col-md-6 mx-auto mt-5 pt-5" id="div-loading" style="display:none">
	<h1>Please wait...</h1>
	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
	</div>

</div>

<div class="mb-2 mb-md-5 mt-md-5 mt-1 pt-2 pl-2 pr-2 pb-2" id="div-carousel" style="display:none;">
    <div class="owl-carousel owl-theme owl-loaded" id="div-owl-carousel">
    </div>
    <div class="card-block text-center">
        
        <hr>
        <h4 class="card-title text-center">Apply a filter</h4>
    <!--        <p class="card-text text-center">Here are all frames extracted from your video. Now click on 'Print Version' to open a new page formatted for printing</p>-->
        {% for k,v in filters %}
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="opt-filter" value="{{v}}" {% if v == "nofilter"%}"checked"{% endif %}>
                        {{k}}
                </label>
            </div>
        {% endfor %}
        <hr>

        <h4 class="card-title text-center">Select cover decoration</h4>
        <div class="container">
            <div class="row justify-content-center" id="cover-deco">
            </div>
        </div>
        <hr>

        <h4 class="card-title text-center">Add cover text</h4>
        <div id="div-apply-text" class="container">
            <div class="col-12 col-md-4 mx-auto">
                    <div class="form-inline">
                        <input type="text" class="form-control" id="input-text" placeholder="Happy Birthday!">
                        <button class="btn btn-secondary ml-1" id="btn-apply-text">Apply Text</button>
                    </div>
            </div>
        </div>
        <hr>
        <div>
            <button class="btn btn-primary float-sm-right" id="btn-generate-print">Print Version</button>
        </div>

    </div>
</div>

<div class="col-12 col-md-6 mx-auto pt-2">
    <div class="alert alert-danger text-center" role="alert" id="div-error" style="display:none">
    </div>
</div>

{% endblock %}

{% block import_css %}
<link href="{% static 'css/spectrum.css' %}" rel="stylesheet">
<link href="{% static 'css/owl/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock %}



{% block import_js %}
<script src="{% static 'js/spectrum.js' %}"></script>
<script src="{% static 'js/myfb.lib.js' %}"></script>
<script src="{% static 'js/myfb.js' %}"></script>
<script src="{% static 'js/owl/owl.carousel.min.js' %}"></script>
{% endblock %}
