#fb-grayscale {
    -webkit-filter: opacity(60%); /* Safari 6.0 - 9.0 */
    filter: opacity(60%);

}
.fb-white-text {
    color: white;
}

#div-home {
	background: silver; /* For browsers that do not support gradients */    
    background: url('/static/images/mobile-video.jpeg');
    background-size: cover;
    background-position: 70% 30%;
    width: 100%;
    height: auto;
    min-height: 60vh;
    padding-top: 15vh;
}

.fb-cover-deco {
    width: 113px;
    height: 77px;
}

a.nav-brand:link, a.nav-brand:visited, a.nav-brand:hover, a.nav-brand:active {
    color: white;
    text-decoration: none;
}

.fb-menu:hover {
    color: #fff;
}

.fb-menu {
    color: #e8eae8;    
    font-weight: bold;
}

.fb-menu-btn:hover {
	background-color : rgba(0, 0, 0, 0.5);
}

.fb-menu-btn {
	background-color : rgba(0, 0, 0, 0);
	border-radius: 5px;
	transition: background-color 0.5s linear;
}

.fb-menu-background {
    background: #062c65; 
    background: #007bff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.item {
	position: relative;
	border: 1px;
	margin: 2%;
	padding: 5px;
	overflow: hidden;
}

.item img {
	border: 1px ;
    border-color: #e5e5e5;
    border-style: solid;
    padding: 1px;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.fb-no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.fb-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.fb-faded-text {
    color: rgba(255,255,255,.8)
}
